﻿<div>
    <div class="jumbotron" ng-init="loadAnnouncements()">
        <h1>Anouncements</h1>
        <ul class="list-group" data-ng-repeat="announcement in announcements">
            <li class="list-group-item">
                <p class="list-group-item-text"> {{announcement.Message}}</p>
                <span class="label label-default">
                    {{announcement.UpdatedTime}}
                </span> 
            </li>                       
        </ul>
    </div>
</div>