﻿
<div ng-init="loadGallery()"> 
    <div>
        <img ng-src="{{selectedImagePath}}" height="600" width="800" />
    </div>  

    <div class="btn-group" ng-repeat="item in timeLineItems">
        <button type="button" class="btn btn-default" ng-click="onButtonClick(item.ImagePath)">{{item.Year}}</button>
    </div>  

</div>
<br />
<div id="skipstep" ng-init="buildSlider()"></div>

<script type="text/javascript">
   
</script>