﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/noUiSlider/nouislider.min.css" rel="stylesheet" />
    <link href="~/Content/noUiSlider/nouislider.pips.css" rel="stylesheet" />
</head>
<body data-ng-app="announcement">
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DHI</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Angular/angular.js"></script>
    <script src="~/Scripts/Angular/angular-route.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/Controllers/announcementController.js"></script>
    <script src="~/Scripts/App/Controllers/galleryController.js"></script>
    <script src="~/Scripts/App/Repositories/announcementRepository.js"></script>
    <script src="~/Scripts/App/Repositories/galleryRepository.js"></script>  
    <script src="~/Scripts/nouislider.js"></script>
</body>
</html>